<%- include('header') %>
    <table style="width:100%;max-width:620px;margin:0 auto;background-color:#ffffff;border:1px solid #e3edf8;border-bottom:4px solid #74ba41;">
        <tbody>
            <tr>
                <td style="padding: 30px 30px 15px 30px;">
                    <h2 style="font-size: 18px; color: #004522; font-weight: 600; margin: 0;">Reset password</h2>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 30px 20px">
                    <p style="margin-bottom: 10px;">Dear
                        <%= translate('$.email') %>,</p>
                    <p style="margin-bottom: 10px;">We received a request to reset your password for your Decot account on
                        <%= translate('$.date') %>.</p>
                    <p style="margin-bottom: 10px;">If you requested this password reset, please below to receive an OTP (One-Time Password) to confirm your identity.</p>
                    <p style="margin-bottom: 25px;"><b>OTP Reset Password</b></p>
                    <a href="#" style="background-color:#004522;border-radius:4px;color:#ffffff;display:inline-block;font-size:13px;font-weight:600;line-height:44px;text-align:center;text-decoration:none;text-transform: uppercase; padding: 0 25px">
                        <%= translate('$.code') %>
                    </a>
                    <p style="margin-bottom: 10px;"><strong>This OTP is valid for
                        <%= translate('$.codeExpiredTime') %> hours.</strong></p>
                    <p style=" margin-bottom: 25px; "><strong>If you did not request this password reset:</strong></p>
                    <p style="margin-bottom: 10px; ">Please disregard this email. Your password will remain unchanged.</p>
                    <p style="margin-bottom: 25px; "><strong>If you have any questions or concerns:</strong></p>
                    <p style="margin-bottom: 10px; ">Please contact our customer support at
                        <%= translate('$.emailSupport') %>.</p>
                    <p style="margin-bottom: 25px; "><strong>Sincerely,</strong></p>
                    <p style="margin-bottom: 10px; ">The Decot Team.</p>
                    <p style="margin-bottom: 10px; "><strong>P.S.</strong> This is an automated message, please do not reply directly to this email.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <%- include('footer') %>